:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
  
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }  

.katex{
    scale: 1.35;
    margin-inline: 25%;
}

.ql-video{
    width: 50rem;
    height: 25rem;
    margin-inline: auto;
}

.twitter-tweet{
    margin-inline: auto;    
}

.ql-container{
    padding: 0;
}

.ql-container.ql-snow{
    font-size: 1rem;
    border: 0px;
}

.copy-button{
    z-index: 1;
    position: fixed;
    top: 0.25rem;
    right: 27rem;
    /* margin-right: 10rem; */
    /* translate.; */
    background-color: #FFF4;
    padding-inline: 0.5rem;
    padding-top: 0.15rem;
    color: #efefef;
    /* background-color: red; */
    border-radius: 0.5rem;
}


.copy-button:hover{
    color: white;
    outline: white solid 2px;
    background-color: #FFF8;
}

.ql-ui:is(select){
    color: #efefef;
    padding: 0.25rem;
    background-color: #FFF4;
    border-radius: 0.5rem 0.5rem 0 0;

    user-select: none;
}

.ql-ui:is(select):hover{
    outline: white solid 2px;
}

.ql-ui:is(select) option{
    color: #efefef;
    background-color: #5e5e5e;
}

body{
    margin: 0;
}